
<aside>

    <div ng-show="reviews.length">
        <ul>
            <li ng-repeat="item in reviews">
                <a ui-sref="reviews.review({ reviewId: item.id })">
                {{ item.title }}
                </a>
            </li>
        </ul>
    </div>
</aside>

<article class="main__article">

    <div ui-view="content"></div>

    <h2 class="main__title">create a new review</h2>
    <form ng-submit="ReviewsFactory.addReview()" role="form">

        <input type="text" ng-model="ReviewsFactory.reviewTitle"  placeholder="title"><br />
        <textarea rows="3" type="text" ng-model="ReviewsFactory.reviewBody"  placeholder="Enter your review"></textarea>

        <button type="submit">Submit</button>
    </form>



</article>
