
<aside>

    <div ng-show="reviews.length">
        <ul>
            <li ng-repeat="item in reviews">
                <a ui-sref="reviews.review({ reviewId: item.id })">
                {{ item.title }}
                </a>
            </li>
        </ul>
    </div>
</aside>

<article class="main__article">

    <div ui-view="content"></div>

    <h2 class="main__subhead">create a new review</h2>
    <form ng-submit="ReviewsFactory.addReview()" role="form">

        <input class="form__input" type="text" ng-model="ReviewsFactory.reviewTitle"  placeholder="title">
        <textarea class="form__input" rows="3" type="text" ng-model="ReviewsFactory.reviewBody"  placeholder="enter your review"></textarea>

        <button class="form__btn" type="submit">submit</button>
    </form>



</article>
